{% extends 'base.html.twig' %}

{% block title %}Megaman listing{% endblock %}

{% block stylesheets %}
<style>
	.stats:first-child, .verbose {
		font-size: 1.4vw;
	}
	.stats {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
	}
	.stats > div {
		border: 1px solid black;

		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		height: 3rem;
		flex-basis: 11%;

		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
{% endblock %}

{% block body %}
	{% if megaman_list|length > 0 %}
		<div class="stats">
			<div>ID</div>
			<div>birthdate</div>
			<div>Name</div>
			<div>Strengh</div>
			<div>Perception</div>
			<div>Endurance</div>
			<div>Charisma</div>
			<div>Intellect</div>
			<div>Agility</div>
			<div>Luck</div>
		</div>
		{% for megaman in megaman_list %}
		<div class="stats">
			<div>{{ megaman.id }}</div>
			<div class="verbose">{{ megaman.birthdate|format_datetime('medium', 'short') }}</div>
			<div class="verbose"><a href="{{ path('details', {id: megaman.id}) }}">{{ megaman.name }}</a></div>
			<div>{{ megaman.STR }}</div>
			<div>{{ megaman.PER }}</div>
			<div>{{ megaman.END }}</div>
			<div>{{ megaman.CHA }}</div>
			<div>{{ megaman.INTELLECT }}</div>
			<div>{{ megaman.AGI }}</div>
			<div>{{ megaman.LUC }}</div>
		</div>
		{% endfor %}
		<div class="navigation">
			{{ knp_pagination_render(megaman_list) }}
		</div>
	{% else %}
		<div>We are out of megamen, apparently</div>
	{% endif %}
{% endblock %}